body{
    background-color: #1c1c1c;
    margin: 0;
    color: white;
}

#imagem2{
    text-align: center;
}

#imagem3{
    margin: 10px;
}

#menu ul{
margin: 0;
background-color: #1c1c1c;
list-style: none;
text-align: center;
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    padding: 10px 10px;
    display: inline-block;
    color: White;
    text-decoration: none;
}

#redes{
    text-align: center;
    background-color: black;
    margin: 0;
}

#footer{
    text-align: center;
background-color: black;
}

#palavras{
    text-align: justify;
    margin: 30px;
}

#container{
    text-align: justify;
    margin: 20px;
}

@media screen and (min-widht: 480px) {
.menu{
    widht: 47%;
    padding: 3%;
    }
    
.h1{
    widht: 47%;
    padding: 3%;
    }
    
.input{
    widht: 47%;
    padding: 3%;
    }
.textarea{
    widht: 47%;
    padding: 3%;
    }
    
.body{
    widht: 47%;
    padding: 3%;
    }
    
.form{
    widht: 47%;
    padding: 3%;
    }
    
.redes{
        widht: 47%;
    padding: 3%;
}

.container{
    widht: 47%;
    padding: 3%;
    }
    
.palavras{
    widht: 47%;
    padding: 3%;
    }
}
